
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/crash.log


strapi-app/node_modules/
strapi-app/build/
strapi-app/.cache/
strapi-app/.tmp/


.env
.env.*
*.env


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db


docker-compose.override.yml
