# Node
node_modules
npm-debug.log
yarn-error.log

# Strapi build output
.build
.cache
dist
.tmp

# Logs
logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Testing
coverage
