name: Full CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:


  infra:
    name: Terraform Infrastructure
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Apply
        run: terraform apply -auto-approve \
             -var="db_password=${{ secrets.DB_PASSWORD }}"

  deploy:
    name: Build & Deploy to ECS
    runs-on: ubuntu-latest
    needs: infra   

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set Image Tag
        run: echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t t7-strapi-app:${{ env.IMAGE_TAG }} ./strapi-app

      - name: Tag Image for ECR
        run: |
          docker tag t7-strapi-app:${{ env.IMAGE_TAG }} \
          811738710312.dkr.ecr.us-east-1.amazonaws.com/t7-strapi-app:${{ env.IMAGE_TAG }}

      - name: Push Image to ECR
        run: |
          docker push \
          811738710312.dkr.ecr.us-east-1.amazonaws.com/t7-strapi-app:${{ env.IMAGE_TAG }}

      - name: Update ECS Service
        run: |
          aws ecs update-service \
            --cluster strapi-cluster \
            --service strapi-service \
            --force-new-deployment
